@charset "utf-8";
/* CSS Document */


/*@font-face {*/
/*font-family: 'notosan';*/
/*    src: url('../font/NotoSansKR-Thin/woff') format('woff');*/
/*	src: url('../font/NotoSansKR-Regular/woff') format('woff');*/
/*	src: url('../font/NotoSansKR-Medium/woff') format('woff');*/
/*	src: url('../font/NotoSansKR-Light/woff') format('woff');*/
/*	src: url('../font/NotoSansKR-Bold/woff') format('woff');*/
/*	src: url('../font/NotoSansKR-Black/woff') format('woff');*/
/*    }*/

html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img { margin:0; padding:0; }
/*html { width:1920px; height:1080px;}*/
/*body { font-weight:300; font-size:15px;}*/
li { list-style:none; }
img,fieldset { border:none; vertical-align:top; }
table { width:100%; border:0; border-spacing:0; border-collapse:collapse; }
caption { display:none; }
th,td { border:0; vertical-align:top; }
button { overflow:visible; padding:0; margin:0; border:0; cursor:pointer; }
hr.layout { display:none; }
a { text-decoration:none; color:#000;}
a:active { text-decoration:none; }
/*p { text-decoration:none; color:#000;font-family: 'Noto Sans KR', sans-serif;}*/
/*h2 { text-decoration:none; color:#000;font-family: 'Noto Sans KR', sans-serif;}*/


@font-face {
    font-family: 'hi';
    src: url('../font/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'hi';
    src: url('../font/NotoSansKR-Regular.otf');
    unicode-range: U+AC00-D7A3;
}
