.main-left {width:70%;float:left;}
.main-right {width:30%;float:right;}

.videoArea{
    width: 1000px;
    margin-top: 140px;
    margin-left: 100px;
    height: 560px;
    padding-top: 0px;

}

.subVideoArea{
    margin-top: 155px;
    margin-right: 70px;
    width: 425px;
    height: 235px;

}

.info{
    margin-top: 100px;
    margin-right: 70px;
    height: 130px;
}

.info_left{
    width: 50%;
    height: 60%;
}

.info_right{
    width: 50%;
    height: 70%;
}

.info_bottom{
    width: 100%;
    font-size: 18px;
}